# Ignore virtual environment
.DS_Store
# Byte-compiled Python files
*.pyc
__pycache__/
# Virtual env
.venv/
# IDE settings
.idea/
# Environment variables
.env
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
# Local notes with secrets
replacements*.txt
#Legacy 
cdc_downloads/
#scheduler
celerybeat-schedule.db
celerybeat-schedule.db
celerybeat-schedule
celerybeat-*.db

# macOS
.DS_Store
**/.DS_Store
